/***************************************************** qtip ***********************************************************/
#main label.tip span, #main li.tip span {
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed rgba(255, 150, 0, 0.40);
    padding-bottom: 2px;
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.form-input {
    font-family: Open Sans,Helvetica,Arial,FontAwesome,sans-serif!important;
    background-color: #f5f8f9;
    background-image: none;
    border: 1px solid #c7d6db;
    border-radius: 3px;
    color: #555;
    font-size: 12px;
    height: 31px;
    line-height: 1.42857;
    padding: 6px 8px;
}