<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>axeptio_cookies</name>
	<displayName><![CDATA[Axeptio - Cookies and personal data management]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Axeptio - Cookies and personal data management]]></description>
	<author><![CDATA[Axeptio]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
